<div class="container">
    <div class="row">
        <% @artworks.each do |artwork| %>
            <div class="d-flex card col-md-4 col-lg-3 col-xl-2">
                <a href="<%= artwork_url(artwork.id) %>"><img src="<%= artwork.image_url %>" class="my-auto text-center figure-img img-fluid rounded" alt="<%= artwork.title %>"></a>
            <div class="card-body"></div>
            <div class="card-footer">
                <h6 class="text"><%= artwork.title %> </h6>
                <p class="text-muted"><%= artwork.description %></p>
                <a href="<%= artwork_url(artwork.id) %>" class="nav-link btn-sm btn-outline-secondary">Details</a>
            </div>

            </div>
        <% end %>
        
    </div>
</div>
