<% flash.each do |key, value| %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>

<h1><%= @artwork.title %></h1>
<h6>Created by: <a href="<%= user_url(@user.id) %>"><%= @user.username %></a></h6>
<img src=" <%= url_for(@artwork.picture) %> " alt="">

<br><br>

<p><strong>Comments</strong></p>
<% @artwork.comments.each do |comment| %>
    <div class="row row-cols-1">
        <div class="card">
            <div class="header"> <strong><%= @users[(comment.user_id)].username %></strong></div>

            <div class="card-body"><%= comment.body %></div>
            <div class="footer text-end fw-lighter"><%= comment.created_at %></div>
        </div>
    </div>
<% end %>
<br>
<% if !current_user.nil? %>
    <%= form_with url: "/comments", method: :post do |f| %>
        <%= f.label :body, "Comment" %>
        <%= f.text_field :body %>
        <%= f.hidden_field :user_id, value: current_user.id%>
        <%= f.hidden_field :artwork_id, value: @artwork.id %>
        <%= f.submit "Submit" %>
    <% end %>
<% end %>


            