<!DOCTYPE html>
<html>
  <head>
    <title>Artapi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>



  <body class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href='<%= artworks_url %>'>ArtShare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="<%= artworks_url %>">Home</a>
        </li>
        <li class="nav-item">
          <% if !current_user.nil? %>
            <a class="nav-link" href="<%= user_url(current_user.id) %>">Profile</a>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Browse
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="<%= artworks_url %>">Artworks</a></li>
            <li><a class="dropdown-item" href="<%= users_url %>">Users</a></li>
          </ul>
        </li>
          <% if current_user.nil? %>
            <a href="<%= new_session_url %>"><li class="nav-item">Sign in</li></a>
            <a href="<%= new_user_url %>"><li class="nav-item">Sign up</li></a>
          <% else %>
            <li class="nav-item">
              <form class="container-fluid justify-content-start" action=<%= "/session" %> method='post'>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" value="delete" name="_method" />
                <input type="submit" class="btn btn-outline-secondary btn-sm" value="Logout">
              </form>
            </li>
          <% end %>
      <div>

      </h3>
    </div>
    </div>
  </nav>
    <%= yield %>
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
